<!DOCTYPE html>
<html lang="en">
  <head>
    <% include head.html %>
    <title>资质商</title>
  </head>
  <body>
    <% include header.html %>

    <div class="container-fluid mt-3">
      <h3>添加/修改资质商</h3>
      <hr>
      <form action="/mg/api/businessUpdate" method="post" style="width:50%" id="form-buisness-update">

        <div class="form-group">
          <label for="">资质商名称</label>
          <div>
            <input type="text" name="name" id="" required class="form-control" placeholder="请填写资质商名称" value="<%= data.name || '' %>">
          </div>
        </div>

        <div class="form-group">
          <label for="">资质商邮箱</label>
          <div>
            <input type="text" name="email" id="" required class="form-control" placeholder="资质商邮箱" value="<%= data.email || ''%>">
          </div>
        </div>

        <div>
          <input type="hidden" name="id" value="<%= data.id || '' %>">
          <input type="submit" value="提交" class="btn btn-primary">
          <input type="reset" value="重置" class="btn btn-warning">
        </div>

      </form>
    </div>

    <% include script.html %>
    <script>
    $('.nav-item.item-business').addClass('active')
    </script>
  </body>
</html>