<!DOCTYPE html>
<html lang="en">
  <head>
    <% include head.html %>
    <title>资质商</title>
  </head>
  <body>
      <% include header.html %>

    <div class="jumbotron text-center">
      <h1 class="display-4">资质商支付配置</h1>
    </div>

    <div class="container-fluid mt-3 mb-3 pb-3">
      
      <div class="row">
        <% methods.forEach((method) => { %>
          <div class="col-6">
            <h3><%= method.name %></h3>
            <form action="/mg/api/businessMethodSet?method=<%= method.key %>" method="post">
              
              <% 
              let configVal = JSON.parse(method.business_method.config)

              for (let item in method.config_json) { 
                
              %>
                
                <div class="form-group">
                  <label for=""><%= method.config_json[item] %></label>
                  <div>
                    <textarea name="config[<%= item %>]" id="" class="form-control"><%= configVal[item]%></textarea>
                  </div>
                </div>
              <%} %>

              <div class="form-group">
                <label for="">是否特约商户</label>
                <div>
                  <select name="common" id="" class="form-control">
                    <%if (method.business_method.common == 1){ %>
                      <option value="1">否</option>
                      <option value="0">是</option>
                      <%}else {%>
                        <option value="1">否</option>
                        <option value="0" selected>是</option>
                        <%}%>
              
                  </select>
                  <small class="text-danger">当商户为特约商户时，微信支付只填写商户ID</small>
                </div>
              </div>
              
              <div class="form-group">
                <label for="">手续费%</label>
                <div>
                  <input type="text" name="rate" value="<%= method.business_method.rate %>" class="form-control">
                </div>
              </div>
              
              <div class="form-group">
                <label for="">说明</label>
                <div>
                  <input type="text" name="remark" value="<%= method.business_method.remark %>" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <label for="">开通支付类型</label>
                <div>
                  <input type="text" name="opens" value="<%= method.business_method.opens %>" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <hr>
                  <input type="hidden" name="business_id" value="<%= business_id %>">
                  <input type="submit" value="设置" class="btn btn-primary">
                  <input type="reset" value="重置" class="btn btn-warning">
              </div>

            </form>
          </div>
        <% }) %>
        
      </div>
      
    </div>

    <% include script.html %>
    <script>
    $('.nav-item.item-business').addClass('active')
    </script>
  </body>
</html>