<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>接口测试-橙子支付</title>
  </head>
  <body>
    <header>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">ORANGE PAY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse " >
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="/">首页 <span class="sr-only">(Home)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/document/">开发文档</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/demo/">接口测试</a>
            </li>
            
          </ul>
          <span class="navbar-text">
            橙子网络支付服务
          </span>
        </div>
      </nav>
    </header>

    <div class="m-3 p-3">

      <div class="row">
        <div class="col-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active text-success" href="#">微信支付</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-muted" href="/demo/user/wxTest">扫码支付</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-muted" href="/demo/user/wxTestH5">移动端H5支付</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="/demo/user/wxTestPub">公众号支付</a>
            </li> -->
            
          </ul>
        </div>

        <div class="col-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active text-primary" href="#">支付宝</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="/demo/user/wxTest">扫码支付</a>
            </li> -->
            <li class="nav-item ">
              <a class="nav-link text-muted" href="/demo/user/alipayTest?type=wap">手机网页快捷支付</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-muted" href="/demo/user/alipayTest?type=pc">PC网站快捷支付</a>
            </li>
            
          </ul>
        </div>

      </div>
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>