<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>支付宝快捷支付接口测试</title>
  </head>
  <body>
    <div class="container-fluid mt-3">
      <h1>支付宝快捷支付接口测试</h1>
      <hr>
      <div>
        <div>
          <p>商户名 ：<%= user.name %></p>
          <p>商户app_id : <%= user.uuid %></p>
          <p>商户加密key : <%= user.key %></p>
          <p>商户消息通知地址 : <%= user.notify_url %></p>
          <p>商户费率 : 
            充值(<span><%= user.rate_in %>%</span>) 
            提现(<span><%= user.rate_in %>%</span>)
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <h3>支付下单</h3>
          <hr>
          <form id="form">
            <div class="form-group row">
              <label for="" class="col-3">商户app_id</label>
              <div class="col-9">
                <input type="text" name="app_id" id="" value="<%= user_id %>" class="form-control" readonly>
              </div>
            </div>

            <div class="form-group row">
              <label for="" class="col-3">支付方式</label>
              <div class="col-9">
                <input type="text" name="method" id="" value="<%= method %>" class="form-control" readonly>
                <small class="form-text text-muted">alipay:代表支付方式是支付吧 </small>
              </div>
            </div>

            <div class="form-group row">
              <label for="" class="col-3">支付类型</label>
              <div class="col-9">
                <select name="payment_type" id="" class="form-control">
                  <option value="wap">移动端h5</option>
                  <option value="pc">pc网站</option>
                </select>
                
              </div>
            </div>

            <div class="form-group row">
              <label for="" class="col-3">订单号</label>
              <div class="col-9">
                <input type="text" name="out_trade_no" id="" value="<%= out_trade_no %>" class="form-control" required>
              </div>
            </div>

            <div class="form-group row">
              <label for="" class="col-3">下单描述</label>
              <div class="col-9">
                <input type="text" name="body" id="" value="" class="form-control" required>
              </div>
            </div>

            <div class="form-group row">
              <label for="" class="col-3">下单金额</label>
              <div class="col-9">
                <input type="number" name="total_fee" id="" value="" class="form-control" required placeholder="精确到分(1 = ￥0.01)">
              </div>
            </div>

            <div class="form-group row">
              <label for="" class="col-3">支付完成跳转地址</label>
              <div class="col-9">
                <input type="url" name="redirect_url" id="" value="" class="form-control" required>
              </div>
            </div>

            <div class="form-group row">
              <label for="" class=" col-3">签名</label>
              <div class="col-7">
                <input type="text" name="sign" id="sign" value="" class="form-control" required>
              </div>
              <div class="col-2 text-center">
                <a href="javascript:;" id="get-sign" class="btn btn-outline-primary">获取</a>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-3"></div>
              <div class="col-9">
                <input type="submit" value="提交" class="btn btn-primary">
              </div>
            </div>
          </form>

          <hr>
          <div class="text-left ">
            <p>
              <span>请求方式:</span>
              <strong>POST</strong>
              <span>|</span>
              <span>数据类型</span>
              <strong>JSON</strong>
            </p>
            <pre  style="background:#eeeeee;">
              <code class="language-json" data-lang="json">
              {
                "app_id": "", // 商户app_id
                "method" : "alipay" , // 支付方式：支付宝
                "out_trade_no": "", // 订单号
                "body": "", // 下单描述
                "total_fee": "", // 下单金额，精确到分
                "redirect_url": "", // 支付完成跳转链接
                "payment_type": "wap|pc", // wap:移动端h5 pc:pc网站
                "sign" : "" , // 签名
              }
              
              </code>
            </pre>
          </div>

        </div>

        <div class="col-md-6">
          <h3>返回结果</h3>
          <hr>
          <div class="from-group">
              
            <div>
              <textarea name="" id="form-result" cols="30" rows="10" class="form-control"></textarea>
            </div>
          </div>

          <div class="text-center mt-3 p-3">
            <p class="text">
              <small>返回结果生成支付链接
              </small>
            </p>
            <div id="qrcode"></div>
            <div id="pc-pay-url" class="text-center"></div>
            <div id="money" class="mt-3 text-danger"></div>
          </div>


          <div class="text-left " style="background:#eeeeee;">
            <pre>
              <code class="language-json" data-lang="json">
              {
                "code": 0|其他, // 0:成功 非0:失败
                "message": "", // 请求说明
                "data": {
                    "result_code": "", //结果说明,成时返回success
                    "method": "wx", // 支付方式
                    "app_id": "", // 商户app_id
                    "out_trade_no": "", // 传入外部订单号
                    "out_order_no": "", // 平台生成订单号
                    "body": "", // 下单描述
                    "detail": "",
                    "total_fee": "", // 下单金额，精确到分
                    "redirect_url": "", // 支付完成跳转链接
                    "payment_type": "", // 支付类型
                    "payment_info": { // 下单返回信息, json字符串
                      "pay_url_wap" : "" , // h5支付链接,payment_type为wap时返回
                      "pay_url_pc" : "" , // pc支付链接,payment_type为pc时返回
                    },
                    "sign": "" // 返回签名
                }
              }
              
              </code>
            </pre>
          </div>


        </div>
      </div>
    </div>
    
   
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script   src="http://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
   <script>
      $(function (){
        var Form = $('#form')

        $('#get-sign').on('click' , function(){
          
          var data = Form.serialize()
          $.post('/demo/user/unifiedSign' , data , function(text){
            $('#sign').val(text)
          } , 'text')
        })

        Form.on('submit' , function(){
          $('#money').text('')
          $('#pc-pay-url').html('')

          var data = Form.serialize()

          $.post('/demo/user/unifiedOrder' , data , function(json){

            var jsonStr = JSON.stringify(json , {} , 2)
            // console.log(jsonStr)
            $('#form-result').val(jsonStr)

            if(json.code == 0){
              var paymentInfo = json.data.payment_info
              paymentInfo = JSON.parse(paymentInfo)
              if(paymentInfo.pay_url_wap){
                var codeUrl = paymentInfo.pay_url_wap
                // $('#qrcode').qrcode({width: 128,height: 128,text: codeUrl })
                var money = '￥' + (json.data.total_fee / 100).toString()
                $('#pc-pay-url').html("<a href='"+ codeUrl +"' class='btn btn-outline-danger'>"+ money +"</a>")
                // $('#money').text('￥' + (json.data.total_fee / 100).toString())
              }else if(paymentInfo.pay_url_pc){
                var money = '￥' + (json.data.total_fee / 100).toString()
                $('#pc-pay-url').html("<a href='"+ paymentInfo.pay_url_pc +"' class='btn btn-outline-danger'>"+ money +"</a>")
              }
              
              
            }
          } , 'json')

          return false
        })
      })
    </script>
 
  </body>
</html>