<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <title>橙子支付</title>
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <style>
  .diplay-bg-grey {background: #e9ecef;}
  </style>
</head>

<body>

  <header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">ORANGE PAY</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">首页
              <span class="sr-only">(Home)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/document/">开发文档</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/demo/">接口测试</a>
          </li>

        </ul>
        <span class="navbar-text">
          <a href="/user/">橙子网络支付服务</a>
        </span>
      </div>
    </nav>
  </header>

  <div>

    <div class="jumbotron text-center">
      <h1 class="display-4">橙子网络支付服务</h1>
      <p class="lead">为您提供安全可靠的网络支付解决方案</p>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-primary" href="/#" role="button">了解更多</a>
        <a class="btn btn-outline-primary" href="/user/join" role="button">立即加入</a>
      </p>
    </div>

    <div class="m-3 p-3">

      <h3 class="text-center p-3 m-3">两大支付能力</h3>

      <div class="row">
        <div class="col-6 text-center">
          <img src="/assets/images/wechat.jpg" alt="微信支付" width="200" height="200">
        </div>
        <div class="col-6 text-center">
          <img src="/assets/images/alipay.png" alt="支付宝" width="200" height="200">
        </div>

      </div>

    </div>

    <section class="diplay-bg-grey mb-3">
      <div class="m-3 p-3">

        <h3 class="text-center p-3 m-3">各种支付场景</h3>

        <div class="row pb-3 mb-3">
          <div class="col-4 text-center">
            <span class="fa fa-mobile-alt fa-5x"></span>
            <br><br>
            <span class="font-weight-light">移动端/APP</span>
          </div>
          <div class="col-4 text-center">
            <span class="fa fa-desktop fa-5x"></span>
            <br><br>
            <span class="font-weight-light">PC网站</span>
          </div>
          <div class="col-4 text-center">
            <span class="fa fa-qrcode fa-5x"></span>
            <br><br>
            <span class="font-weight-light">刷卡扫码</span>
          </div>
        </div>

      </div>
    </section>

    <section>
      <div class="m-3 p-3 text-center">
        <p class="h1 m-3 p-3">统一接口集成</p>
        <p class="h3">就是这么方便</p>
      </div>
    </section>


  </div>

  <footer class="bg-dark text-light">
    <div class="p-3 text-center">
        Copyright ©2017-2018 橙子网络文化. All Rights Reserved. 
        <a href="http://www.miitbeian.gov.cn/" target="_blank" class="text-white">粤ICP备16002838号-1</a>
    </div>
  </footer>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>