<!DOCTYPE html>
<html lang="en">
  <head>
    <% include head.html %>
    <title>商户信息</title>
  </head>
  <body>
    <% include header.html %>

    <div class="container-fluid mt-3">
      <h3>基本信息</h3>
      <div>
        <p>商户名称: <span class="font-weight-light"><%= user.name %></span></p>
        <p>商户邮箱: <span class="font-weight-light"><%= user.email %></span></p>
        <p>联系人&nbsp;&nbsp;: <span class="font-weight-light"><%= user.contract %></span></p>
        <p>联系电话: <span class="font-weight-light"><%= user.phone %></span></p>
        <hr>
      </div>

      <h3>开发信息 </h3>
      <div>
        <p>商户号(appId) : <span class="font-weight-light"><%= user.uuid %></span></p>
        <p>商户秘钥(key) : <span class="font-weight-light"><%= user.key %></span></p>
        <p>消息通知地址 : 
          <span>
            <span class="font-weight-light"><%= user.notify_url %></span> 
            <a href="javascript:;" class="notify-url-modify">修改</a>
          </span>
          <span class="" style="display:none">
            <input type="url" id="user-notidy-url" value="<%= user.notify_url %>" size="50"> 
            <a href="javascript:;" class="notify-url-confirm" >确认</a>
          </span>
         
        </p>
        
        <hr>
      </div>
      
      <h3>费率信息</h3>
      <div>
        <p>支付费率: <span class="font-weight-light"><%= user.rate_in %>%</span></p>
        <p>取现费率: <span class="font-weight-light"><%= user.rate_out %>%</span></p>
      </div>

    </div>
    <% include script.html %>
    <script>
    $(function(){
      $('.nav-item.item-info').addClass('active')
    })
    </script>
  </body>
</html>