<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">橙子支付服务</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item item-user">
          <a class="nav-link" href="/mg/">商户</a>
        </li>
        <li class="nav-item item-business">
          <a class="nav-link" href="/mg/business">资质商</a>
        </li>
        <li class="nav-item item-order">
          <a class="nav-link" href="/mg/order">订单</a>
        </li>
        <!-- <li class="nav-item item-method">
          <a class="nav-link" href="/mg/method">支付配置</a>
        </li> -->
      </ul>

      <span class="navbar-text">
        <a href="/user/logout">退出</a>
      </span>
    </div>
  </nav>
</header>